body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px; /* Ensure the ul itself has some padding */
    display: flex;
    justify-content: center; /* Center the items */
    gap: 90px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; /* Increase font size */
}

nav ul li a:hover {
    text-decoration: underline;
}

.background-image {
    background-image: url('../images/background_image.avif'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.about-content {
    max-width: 600px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: black;
    text-align: left;
    font-size: 1.2em; /* Increase text size */
}

.about-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.about-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.about-content ul li {
    margin-bottom: 10px;
}
